In [1]:
# ANS 1

In [2]:
perc=int(input('enter ur percentage'))
if perc > 90 :
    print(" your grade is 'A'")
elif perc >80 and perc <= 90 :
    print(" your grade is 'B'")
elif perc >=60 and perc <=80 :
    print(" your grade is 'C'")
else :
     print(" your grade is 'D'")

enter ur percentage 78

 your grade is 'C'

In [3]:
# ANS 2

In [4]:
price=int(input('enter the price of bike'))
if price > 100000 :
    tax=(15*price)/100
    print("your tax on the bike is = 15 % and in rupees is =",tax)
elif price > 50000 and price <=100000 :
    tax=(10*price)/100
    print("your tax on the bike is = 10 % and in rupees is =",tax)
else  :
    tax=(5*price)/100
    print("your tax on the bike is = 5 % and in rupees is =",tax)

enter the price of bike 456897

your tax on the bike is = 15 % and in rupees is = 68534.55

In [5]:
# ANS 3

In [6]:
city=input('enter your city name for which u want to find monument of that city')
if city == 'delhi' or city == 'DELHI' or city == 'Delhi' :
    print('monument of the city is Red Fort')
elif city == 'Agra' or city == 'agra' or city == 'AGRA' :
    print('monument of the city is Taj Mahal')
elif city == 'Jaipur' or city == 'jaipur' or city == 'JAIPUR' :
    print('monument of the city is Jal Mahal')
else :
    print('enter data is incorrect')

enter your city name for which u want to find monument of that city agra

monument of the city is Taj Mahal

In [7]:
# ANS 4

In [8]:
num=int(input('enter the number'))
i=0
if num > 10 :
    while num >10 :
        num=num/3
        i=i+1
    print(' number is divisible by 3 by',i, 'times, before it is less than than or equal to 10')
else :
    print('number is less than or equal to 10')

enter the number 56

 number is divisible by 3 by 2 times, before it is less than than or equal to 10

In [9]:
# ANS 5

While loop is used in python where we want to perform particular statement/operation to run untill the given condition remains true.

for example

In [10]:
i=1
while i<=10:
    print('pw skills')
    i=i+1

pw skills
pw skills
pw skills
pw skills
pw skills
pw skills
pw skills
pw skills
pw skills
pw skills

in the above example we use the while loop, and condition given is i<=10, it means the while loop runs untill the value of i is smaller than 10, and the statements like "print('pw skills')" and "i=i+1" runs for the same time untill loop runs. it means while loop check the condition, if it true it performs all the statement given inside the loop, and when condition is false, the while loop terminate and pass the control over to the next step.

In [11]:
# ANS 6

In [12]:
i=1
b=25
c=12
while i<10 :
    while b>20:
        while c>7:
            print('pw skill is best')
            c=c-1
        print('my name is ashish bansal')
        b=b-1
    print('data science course is so cheap from pw skills')
    i=i+1

pw skill is best
pw skill is best
pw skill is best
pw skill is best
pw skill is best
my name is ashish bansal
my name is ashish bansal
my name is ashish bansal
my name is ashish bansal
my name is ashish bansal
data science course is so cheap from pw skills
data science course is so cheap from pw skills
data science course is so cheap from pw skills
data science course is so cheap from pw skills
data science course is so cheap from pw skills
data science course is so cheap from pw skills
data science course is so cheap from pw skills
data science course is so cheap from pw skills
data science course is so cheap from pw skills

In [13]:
# ANS 7

In [14]:
i=10
while i<=10:
    print(i)
    i=i-1
    if i==0:
        break

10
9
8
7
6
5
4
3
2
1

In [15]:
# ANS 8

In [17]:
i=10
while i<=10:
    print(i)
    i=i-1
    if i==0:
        break

10
9
8
7
6
5
4
3
2
1