In [8]:
# ANS 1

For loop is used when we know that how many times repeation occurs, for example

In [15]:
a=[]
for i in range(1,101):
    a.append(i)
print(list(a))
# in this example we know that the iteration occur for 100 times so for loop is used

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

While loop is used when don't know that how many times the repetition occur or when we check some conditions. for example as below:

In [17]:
a=[]
i=0
while i<=100:
    a.append(i)
    i=i+3
print(list(a))
# here we don't know that how many iterations occur but we have a condition to satisfy, until this condition
#true it get repet itself aagain and again, but if condition become false, it get terminate

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [1]:
# ANS 2

In [2]:
# using for loop

In [3]:
sum=0
product=1
for i in range(1,11):
    sum=sum+i
    product=product*i
print("sum is =" , sum)
print("product is =", product)

sum is = 55
product is = 3628800

In [4]:
# using while loop

In [5]:
sum=0
product=1
i=1
while i<=10 :
    sum=sum+i
    product=product*i
    i=i+1
print('sum is =' , sum)
print('product is =',product)

sum is = 55
product is = 3628800

In [6]:
# ANS 3

In [8]:
unit=float(input('enter the units consumed by you up to two decimal places'))
amt=0
if unit>0:
    if unit>100:
        amt=100*4.5+amt
        unit=unit-100
        if unit>100:
            amt=amt+100*6
            unit=unit-100
            if unit>100:
                amt=amt+100*10
                unit=unit-100
                if unit>0:
                    amt=amt+unit*20
            else :
                amt=amt+unit*10
        else :
            amt=amt+unit*6
    else :
        amt=amt+unit*4.5
print('according to ur consumption, your electricity bill is :',amt,' rupees')

enter the units consumed by you up to two decimal places 310

according to ur consumption, your electricity bill is : 2250.0  rupees

In [2]:
# ANS 4

In [ ]:
# using for loop

In [3]:
a=[]
c=[]
d=[]
b=1
for i in range(1,101):
    a.append(i)
for j in a:
    b=j*j*j
    c.append(b)
for k in c:
    if k%4==0 or k%5==0:
        d.append(k)
print('list of 1 to 100 natural numbers is given by : ',list(a))
print('list of cubes which is divisible by 4 or 5 : ',list(d))

list of 1 to 100 natural numbers is given by :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
list of cubes which is divisible by 4 or 5 :  [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [4]:
# using while loop

In [5]:
a=[]
c=[]
b=1
e=1
i=1
while b<=100:
    a.append(b)
    b=b+1
while i<=100:
    e=i*i*i
    if e%4==0 or e%5==0:
        c.append(e)
    i=i+1
print('list of 1 to 100 natural numbers is given by : ',list(a))
print('list of cubes which is divisible by 4 or 5 is: ',list(c))

list of 1 to 100 natural numbers is given by :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
list of cubes which is divisible by 4 or 5 is:  [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [6]:
# ANS 5

In [7]:
string='I want to become a Data scientist'
count=0
for i in string.lower():
    if i in ['a','e','i','o','u']:
        count=count+1
print('total vowels in the given string is:', count)

total vowels in the given string is: 12